{% extends 'Catalog/base.html' %}

{% block content %}
<div class="col-12">
  <div class="row">
    <div class="row col-md-12 g-5">
      <div class="card">
        <div class="body">
          <form method="post">
            {% csrf_token %}
            <p>Хотите удалить материал "{{ object.title }}"</p>
            <button type="submit" role="button" tabindex="-1" class="btn btn-danger">
              Удалить
            </button>
            <a href="{% url 'blog:blog_list' %}" class="btn btn-warning">АТМЕНА</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}