{% extends 'Catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {% for object in object_list %}
    <div class="card" style="width: 25rem;">
        <p class="lead">{{ object.title }}</p>
        <p></p>
        <div class="card-footer">
            {% if object.is_published %}
            <a class="btn btn-danger" href="{% url 'blog:toggle_activity' object.pk%}">Деактивировать
                блог</a>
            {% else %}
            <a class="btn btn-success" href="{% url 'blog:toggle_activity' object.pk%}">Активировать
                блог</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}